<nav class="navbar navbar-expand-lg navbar-dark shadow sticky-top" style="backdrop-filter: blur(10px); background-color: rgba(0, 0, 0, 0.6); box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">
      <img src="/images/index_logo.png" alt="Logo" style="max-height: 40px; transition: transform 0.4s ease-in-out;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/index.html">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="/hcpe.html">HCPE</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Escalas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/escalas/ham_d.html"><i class="fas fa-brain"></i> HAM-D</a></li>
            <li><a class="dropdown-item" href="/escalas/moca.html"><i class="fas fa-brain"></i> MoCA</a></li>
            <li><a class="dropdown-item" href="/escalas/mmse.html"><i class="fas fa-brain"></i> MMSE</a></li>
            <li><a class="dropdown-item" href="/escalas/panss.html"><i class="fas fa-brain"></i> PANSS</a></li>
            <li><a class="dropdown-item" href="/escalas/whoqol_breef.html"><i class="fas fa-brain"></i> WHOQOL-BREEF</a></li>
            <li><a class="dropdown-item" href="/escalas/barrero_s.html"><i class="fas fa-brain"></i> Barrero/S</a></li>
            <li><a class="dropdown-item" href="/escalas/bprs_18.html"><i class="fas fa-brain"></i> BPRS-18</a></li>
            <li><a class="dropdown-item" href="/escalas/dast.html"><i class="fas fa-brain"></i> DAST</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://gonzalov85.github.io/Inventario-SCL-90-R/" target="_blank"><i class="fas fa-clipboard-list"></i> SCL-90-R</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
      </ul>
      <div class="d-flex flex-wrap gap-2">
        <a href="https://wa.me/543625314001" class="btn btn-success btn-sm" target="_blank">
          <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
        <a href="https://facebook.com/mauricio.villamandos" class="btn btn-primary btn-sm" target="_blank">
          <i class="fab fa-facebook-f"></i> Facebook
        </a>
        <a href="https://www.instagram.com/elperrofenrir/" class="btn btn-danger btn-sm" target="_blank">
          <i class="fab fa-instagram"></i> Instagram
        </a>
        <a href="https://twitter.com/tuusuario" class="btn btn-dark btn-sm" target="_blank">
          <i class="fab fa-x-twitter"></i> X
        </a>
        <a href="https://linkedin.com/in/mauricio-villamandos-48b29a16a" class="btn btn-info btn-sm" target="_blank">
          <i class="fab fa-linkedin-in"></i> LinkedIn
        </a>
      </div>
    </div>
  </div>
</nav>